<a href="https://colab.research.google.com/github/sonalik23/ML-models/blob/master/Decision_Random2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import io
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [23]:
from google.colab import files
uploaded=files.upload()

Saving loan_data.csv to loan_data (2).csv

In [0]:
df=pd.read_csv(io.BytesIO(uploaded['loan_data.csv']))

In [25]:
df.head()

   credit.policy             purpose  ...  pub.rec  not.fully.paid
0              1  debt_consolidation  ...        0               0
1              1         credit_card  ...        0               0
2              1  debt_consolidation  ...        0               0
3              1  debt_consolidation  ...        0               0
4              1         credit_card  ...        0               0

[5 rows x 14 columns]

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9578 entries, 0 to 9577
Data columns (total 14 columns):
credit.policy        9578 non-null int64
purpose              9578 non-null object
int.rate             9578 non-null float64
installment          9578 non-null float64
log.annual.inc       9578 non-null float64
dti                  9578 non-null float64
fico                 9578 non-null int64
days.with.cr.line    9578 non-null float64
revol.bal            9578 non-null int64
revol.util           9578 non-null float64
inq.last.6mths       9578 non-null int64
delinq.2yrs          9578 non-null int64
pub.rec              9578 non-null int64
not.fully.paid       9578 non-null int64
dtypes: float64(6), int64(7), object(1)
memory usage: 1.0+ MB

In [27]:
df.describe()

       credit.policy     int.rate  ...      pub.rec  not.fully.paid
count    9578.000000  9578.000000  ...  9578.000000     9578.000000
mean        0.804970     0.122640  ...     0.062122        0.160054
std         0.396245     0.026847  ...     0.262126        0.366676
min         0.000000     0.060000  ...     0.000000        0.000000
25%         1.000000     0.103900  ...     0.000000        0.000000
50%         1.000000     0.122100  ...     0.000000        0.000000
75%         1.000000     0.140700  ...     0.000000        0.000000
max         1.000000     0.216400  ...     5.000000        1.000000

[8 rows x 13 columns]

In [0]:
Purpose=pd.get_dummies(df['purpose'],drop_first=True)

In [0]:
df.drop(['purpose'],axis=1,inplace=True)
df=pd.concat([Purpose,df],axis=1)

In [30]:
df.head()

   credit_card  debt_consolidation  ...  pub.rec  not.fully.paid
0            0                   1  ...        0               0
1            1                   0  ...        0               0
2            0                   1  ...        0               0
3            0                   1  ...        0               0
4            1                   0  ...        0               0

[5 rows x 19 columns]

In [33]:
df.columns

Index(['credit_card', 'debt_consolidation', 'educational', 'home_improvement',
       'major_purchase', 'small_business', 'credit.policy', 'int.rate',
       'installment', 'log.annual.inc', 'dti', 'fico', 'days.with.cr.line',
       'revol.bal', 'revol.util', 'inq.last.6mths', 'delinq.2yrs', 'pub.rec',
       'not.fully.paid'],
      dtype='object')

In [0]:
from sklearn.model_selection import train_test_split
X=df[['credit_card', 'debt_consolidation', 'educational', 'home_improvement',
       'major_purchase', 'small_business', 'credit.policy', 'int.rate',
       'installment', 'log.annual.inc', 'dti', 'fico', 'days.with.cr.line',
       'revol.bal', 'revol.util', 'inq.last.6mths', 'delinq.2yrs', 'pub.rec']]
Y=df['not.fully.paid']

X_train, X_test, y_train, y_test = train_test_split(X,Y, test_size=0.3, random_state=101)

In [0]:
from sklearn.tree import DecisionTreeClassifier
model=DecisionTreeClassifier()

In [37]:
model.fit(X_train,y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [0]:
pred=model.predict(X_test)

In [0]:
from sklearn.metrics import classification_report,confusion_matrix

In [40]:
print(classification_report(y_test,pred))
print('\n')
print(confusion_matrix(y_test,pred))

              precision    recall  f1-score   support

           0       0.85      0.82      0.84      2431
           1       0.19      0.23      0.21       443

    accuracy                           0.73      2874
   macro avg       0.52      0.53      0.52      2874
weighted avg       0.75      0.73      0.74      2874



[[1994  437]
 [ 341  102]]

In [0]:
from sklearn.ensemble import RandomForestClassifier
model1=RandomForestClassifier()

In [43]:
model1.fit(X_train,y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [0]:
pred1=model1.predict(X_test)

In [45]:
print(classification_report(y_test,pred1))
print('\n')
print(confusion_matrix(y_test,pred1))

              precision    recall  f1-score   support

           0       0.85      0.99      0.91      2431
           1       0.33      0.02      0.03       443

    accuracy                           0.84      2874
   macro avg       0.59      0.51      0.47      2874
weighted avg       0.77      0.84      0.78      2874



[[2417   14]
 [ 436    7]]