<a href="https://colab.research.google.com/github/sonalik23/ML-models/blob/master/Logistic2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import io
import pandas as pd 
import seaborn as sns

In [0]:
from google.colab import files
uploaded= files.upload()

Saving advertising.csv to advertising.csv

In [0]:
df=pd.read_csv(io.BytesIO(uploaded['advertising.csv']))

In [0]:
df.head()

   Daily Time Spent on Site  Age  ...            Timestamp  Clicked on Ad
0                     68.95   35  ...  2016-03-27 00:53:11              0
1                     80.23   31  ...  2016-04-04 01:39:02              0
2                     69.47   26  ...  2016-03-13 20:35:42              0
3                     74.15   29  ...  2016-01-10 02:31:19              0
4                     68.37   35  ...  2016-06-03 03:36:18              0

[5 rows x 10 columns]

In [0]:
df.columns

Index(['Daily Time Spent on Site', 'Age', 'Area Income',
       'Daily Internet Usage', 'Ad Topic Line', 'City', 'Male', 'Country',
       'Timestamp', 'Clicked on Ad'],
      dtype='object')

In [0]:
df.drop(['Ad Topic Line', 'City', 'Country','Timestamp'],axis=1,inplace=True)

In [0]:
df.head()

   Daily Time Spent on Site  Age  ...  Male  Clicked on Ad
0                     68.95   35  ...     0              0
1                     80.23   31  ...     1              0
2                     69.47   26  ...     0              0
3                     74.15   29  ...     1              0
4                     68.37   35  ...     0              0

[5 rows x 6 columns]

In [0]:
X=df[['Daily Time Spent on Site', 'Age', 'Area Income',
       'Daily Internet Usage', 'Male']]
Y=df['Clicked on Ad']

In [0]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.33, random_state=101)

In [0]:
from sklearn.linear_model import LogisticRegression

In [0]:
model=LogisticRegression()

In [0]:
model.fit(X_train,y_train)

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [0]:
pred=model.predict(X_test)

In [0]:
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix

In [0]:
evaluation1= classification_report(y_test,pred)
print(evaluation1)

              precision    recall  f1-score   support

           0       0.97      0.99      0.98       171
           1       0.99      0.96      0.98       159

    accuracy                           0.98       330
   macro avg       0.98      0.98      0.98       330
weighted avg       0.98      0.98      0.98       330

In [0]:
evaluation2= confusion_matrix(y_test,pred)
print(evaluation2)

[[170   1]
 [  6 153]]